*{
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgba(69, 127, 252, 1), rgba(95, 148, 247, 0.8)),url('../image/background.jpg') center center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    font-size: 20px;
}

.navbar{
    /* display: inline-block; */

}
.secondary{
    margin-left: 57%;
}
/* navsection */
 .mobile-nav-icon{
    float: right;
    cursor: pointer;
    color: #fff;
    display: flex;
}
.mobile-nav-icon i{
    color: #fff;
    display: flex;
}
.pos-f-t{
    display: none !important;
  }

.navbar{
    margin-top: 1%;
    display: flex;

}
.primary img{
    background: transparent;
    height: 50px;
    width: 130px;
    margin-left: -10%;
}
.secondary ul{
    display: flex;
}
.secondary ul li{
    list-style: none;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.secondary ul li a{
    color: #fff;
    font-size: 20px;
}
.secondary ul li a:hover{
    text-decoration: none !important;
}
.secondary ul li a:active{
    border-bottom: 1px solid #fff;
}

.mobile-nav-icon .fa-bars{
    display: none;
    width: 27px;
}

.close .fa-times{
    display: none;
    width: 27px;
}

.name{
    margin-top: 12%;
}
.name h1{
    color: #fff;
    font-size: 60px;
}
.name p{
    color: #fff;
}
.name .secondary .fa-arrow-circle-right{
    font-size: 100px;
    color: #fff;
    float: right;
    margin-top: -36%;
}
.name .secondary .fa-arrow-circle-right:hover{
    text-decoration: none;
}

/* about page */
.about-me{
    margin-top: 3%;
}
.left img{
    width: 36%;
    height: auto;
    border: 5px solid #fff;
    border-radius: 50%;
}
.right{
    width: 50%;
    float: right;
    color: #fff;
    margin-top: -38%;
}

/* introduction page */



/* style */
form {
    margin-top: 1%;
  }
.form-control {
    margin-bottom: 40px !important;
    padding-bottom: 15px !important;
    border: none !important;
  }
  .form-control label{
     margin-bottom: 0%;
      border: none!important;
      color: #444;
      font-weight: 600;
  }
  .form-control label span{
    color: red;
    font-weight: bold;
  }
  .form-control input{
    width: 100% !important;
    border: 2px solid #f0f0f0 !important;
    margin-top: 1%;
    padding-top: 1%;
    border-radius: 5px;
    padding-bottom: 1%;
    padding-left: 2%;
}

label.validation-error{
  color:   red;
  margin-left: 10px;
  font-weight: 400;
}
.hide{
  display:none;
}
.form-control.success input {
  border-color: rgb(5, 124, 51);
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  /* position: absolute; */
  visibility: hidden;
}

.form-control.error small {
 visibility: visible;
}
#clear{
  margin-right: 5px;
}

/* introduction page */
.heading h3{
    color: #fff;
    margin:2% 0 5% 25%;
}



/* responsive */
@media only screen and (max-width: 1199px){
    .secondary ul{
        width: 100%;
        margin-left: 10%;
        margin-top: -16%;
    }
}


@media only screen and (max-width: 1040px){
    .about-me{
        margin-top: 10%;
    }
    .left img{
        width: 29%;
        height: auto;
        margin-left: 5%;
    }
    .right{
        width: 55%;
        float: right;
        color: #fff;
        margin-top: -35%;
        margin-right: 5% !important;
        text-align: justify;
    }
}

@media only screen and (max-width: 991px){
    .primary{
        margin-left: -12%;
    }
    .secondary ul{
        margin-left: 6.5%;
    }
    .secondary{
        margin-right: -10%;
    }
    
    .name{
        margin-top: 17%;
    }
    .name h1{
        font-size: 40px;
    }
    .name h1, p{
        margin-left: 5%;
    }
    .secondary i{
        margin-right: 8%;
        font-size: 80px !important;
    }
    .left img{
        width: 40%;
        height: 40%;
        margin: 8% 0% 0% -7%;
    }
    .right{
        width: 70%;
        margin-right: -6.5% !important;
        margin-top: -50%;
        text-align: justify;
    }
}
@media only screen and (max-width: 895px){

    .primary img{
        height: 37px;
        width: 80px;
        margin-left: 35% !important;
        margin-top: 2% !important;
    }
    .secondary ul{
       
        margin-left: 7%;
        margin-top: -15%;
    }
    .secondary i{
        margin-right: 18%;
        font-size: 70px !important;
        margin-top: -50% !important;
    }
    .left img{
        width: 35%;
        height: 40%;
        margin: 5% 0% 0 0%;
    }
    .right{
        width: 60%;
        margin-top: -40%;
        margin-right: 0% !important;
    }
}

/* @media only screen and (max-width: 840px){

    .left img{
        width: 50%;
        height: 50%;
        margin: 5% 0% 0 25%;
    }
    .right{
        width: 100%;
        margin-top: 3%;
        margin-right: 1% !important;
    }
} */

@media only screen and (max-width: 840px){
    .primary{
        margin-left: -10%;
        margin-top: 1%;
    }
    .secondary ul{
        margin-left: -15%;
        margin-top: -16.5%;
    }
    
    .name{
        margin-top: 17%;
    }
    .name h1{
        font-size: 30px;
        margin-bottom: 3%;
    }
    .name h1, p{
        margin-left: 10%;
        
    }
    .secondary i{
        margin-right: 28%;
        font-size: 60px !important;
        margin-top: -47% !important;
    }

    /* about page */
    .left img{
        width: 50%;
        height: 50%;
        margin: -1% 0% 0 25%;
    }
    .right{
        width: 100%;
        margin-top: 3%;
        margin-right: 2% !important;
    }
}
@media only screen and (max-width: 767px){

    .primary img{
        height: 37px;
        width: 80px;
        margin-left: -75% !important;
        margin-top: -10%;
    }
    /* .secondary ul{
        display: none;
    } */
    
    /* .secondary ul{
        float: left !important;
        display: flex;
        flex-direction: column;
        margin-top: 0%;
        display: none;
        margin-left: -10%;
    } */
    .secondary ul li{
        float: left;
        margin-top: -10%;
    }

    .secondary ul li a{
        font-size: 18px;
    }


    /* .mobile-nav-icon .fa-bars{
       display: flex;
       float: right;
        font-size: 26px !important;
        margin-top: -5% !important;
        margin-left: 550% !important;
    }

    .close .fa-times{
        font-size: 26px !important;
        color: #fff !important;
        margin-left: 280% !important;
        display: none;
    } */
    .name{
        margin-top: 25%;

    }
    .name h1, p{
        margin-left: -5%;
    }
    .name .secondary .fa-arrow-circle-right{
        font-size: 60px !important;
        color: #fff;
        float: right;
        margin-top: -72% !important;
        margin-left: -70% !important;
    }
}
@media only screen and (max-width: 740px){
    body{
        padding: 0% 13%;
    }
    .name .secondary .fa-arrow-circle-right{
        font-size: 55px !important;
        margin-top: -80% !important;
    }

}

@media only screen and (max-width: 740px){
    body{
        padding: 0% 10%;
    }
}
@media only screen and (max-width: 668px){
    body{
        padding: 0% 13.5%;
    }
    .navbar{
        margin-right: 1% !important;
    }
    /* .secondary ul{
        margin-top: -30%;
        margin-left: -30% !important;
    } */
    /* .close .fa-times{
        margin-left:  10% !important; 
        margin-top: -200%;
    } */
    .primary img{
        height: 37px;
        width: 80px;
        margin-top: 10%;
    }
    .name p{
        margin-right: -10%;
        font-size: 16px;
    }

}

@media only screen and (max-width: 630px){
    body{
        padding-right: 5% !important;
    }
    .name .secondary .fa-arrow-circle-right{
        font-size: 55px !important;
        margin-top: -68% !important;
        margin-right: 15%;
    }
   /* .mobile-nav-icon{
       margin-right: 20%;
   } */
   /* .secondary ul{
    margin-top: 0%;
    margin-left: -60% !important;
    } */
    /* .close{
        margin-top: -14%;
    } */
   
}
@media only screen and (max-width: 630px){
    .name h1{
        font-size: 30px;
    }
    .name p{
        font-size: 16px;
    }
    .name .secondary .fa-arrow-circle-right{
        font-size: 45px !important;
    }
    /* .mobile-nav-icon .fa-bars{
        font-size: 22px !important;
        margin-top: -50% !important;
    }     */

}

@media only screen and (max-width: 630px){
    /* .secondary ul{
        margin-top: -25%;
    }
    .close{
        margin-top: -14%;
    } */
}
@media only screen and (max-width: 510px){
    /* .mobile-nav-icon .fa-bars{
         font-size: 22px !important;
         margin-top: -70% !important;
         margin-left: 500% !important;
     } */
}

@media only screen and (max-width: 425px){
    body{
        padding-top: -15% !important;
        padding: 0% !important;
    }
    .navbar img{
      height: 30px !important;
      width: 60px !important;
      margin-top: 1% 0 0 -15% !important;
    }
    #navsection{
      display: none !important;
    }
    .pos-f-t{
      display:  flex !important;
      flex-direction: column !important;
      width: 100% !important;

    }
    .navbar-dark button{
      float: right !important;
      font-size: 15px !important;
      color: #fff !important;
      font-weight: bold !important;
    }
    .collapse{
      background: linear-gradient( rgba(63, 126, 243, 0)) !important;
      width: 100%;
    }
   
    ul{
      margin-left: -10% !important;
    }
    ul li{
      list-style: none;
    }
    ul li a{
      color: #fff !important;
      text-decoration: none;
      font-size: medium !important;
    }
    .navbar-dark{
      float: right !important;
    }
    .name{
        margin-left: 17%;
        margin-right: 5%;
    }
    .name .secondary .fa-arrow-circle-right{
        font-size: 30px !important;
        margin-right: 20% !important;
    }
    .name h1{
        font-size: medium;
        margin-bottom: 3%;
    }
    .name p{
        font-size: medium;
        line-height: 17px;
    }

    .left img{
        width: 50%;
        height: 50%;
        margin: -9% 0% 0 25%;
    }
    .right{
        width: 88%;
        margin-right: 3% !important;
    }
    .right p{
        font-size: medium;
    }
  }
  
  @media only screen and (max-width: 320px){
    .name .secondary .fa-arrow-circle-right{
        font-size: 25px !important;
        margin-right: 20% !important;
        margin-top: -95% !important;

    }
    .name h1{
        font-size: medium;
        margin-bottom: 3%;
    }
    .name p{
        font-size: small;
        line-height: 17px;
        margin-right: 20% !important;
        text-align: justify !important;
    }
    .right p{
        font-size: small;
    }
  }
