*{
    box-sizing: border-box;
}
body{
    background:linear-gradient(rgba(69, 127, 252, 1), rgba(95, 148, 247, 0.8)),url('../image/background.jpg') center center no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    font-size: 20px;
}
.navbar{
    margin-top: 1%;
}


.primary img{
    background: transparent;
    height: 50px;
    width: 130px;
}
.secondary ul{
    display: flex;
}
.secondary ul li{
    list-style: none;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.secondary ul li a{
    color: #fff;
    font-size: 20px;
}
.secondary ul li a:hover{
    text-decoration: none !important;
}
.secondary ul li a:active{
    border-bottom: 1px solid #fff;
}

.name{
    margin-top: 12%;
}
.name h1{
    color: #fff;
    font-size: 60px;
}
.name p{
    color: #fff;
}
.name .secondary .icon-circle-arrow-right{
    font-size: 100px;
    color: #fff;
    float: right;
    margin-top: -20%;
}
.name .secondary .icon-circle-arrow-right:hover{
    text-decoration: none;
}

/* about page */
.about-me{
    margin-top: 3%;
}
.left img{
    width: 36%;
    height: auto;
    border: 5px solid #fff;
    border-radius: 50%;
}
.right{
    width: 50%;
    float: right;
    color: #fff;
    margin-top: -38%;
}

/* introduction page */



/* style */
form {
    margin-top: 1%;
  }
.form-control {
    margin-bottom: 40px !important;
    padding-bottom: 15px !important;
    border: none !important;
  }
  .form-control label{
     margin-bottom: 0%;
      border: none!important;
      color: #444;
      font-weight: 600;
  }
  .form-control label span{
    color: red;
    font-weight: bold;
  }
  .form-control input{
    width: 100% !important;
    border: 2px solid #f0f0f0 !important;
    margin-top: 1%;
    padding-top: 1%;
    border-radius: 5px;
    padding-bottom: 1%;
    padding-left: 2%;
}

label.validation-error{
  color:   red;
  margin-left: 10px;
  font-weight: 400;
}
.hide{
  display:none;
}
.form-control.success input {
  border-color: rgb(5, 124, 51);
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control small {
  color: #e74c3c;
  /* position: absolute; */
  visibility: hidden;
}

.form-control.error small {
 visibility: visible;
}
#clear{
  margin-right: 5px;
}

/* introduction page */
.heading h3{
    color: #fff;
    margin:2% 0 5% 25%;
}


/* responsive */
@media only screen and (max-width: 1040px){
    .about-me{
        margin-top: 10%;
    }
    .left img{
        width: 29%;
        height: auto;
        margin-left: 5%;
    }
    .right{
        width: 55%;
        float: right;
        color: #fff;
        margin-top: -35%;
        margin-right: 5% !important;
        text-align: justify;
    }
}

@media only screen and (max-width: 991px){
    .primary{
        margin-left: -12%;
    }
    .secondary{
        margin-right: -10%;
    }
    
    .name{
        margin-top: 17%;
    }
    .name h1{
        font-size: 40px;
    }
    .name h1, p{
        margin-left: 5%;
    }
    .secondary i{
        margin-right: 8%;
        font-size: 80px !important;
    }
    .left img{
        width: 40%;
        height: 40%;
        margin: 8% 0% 0% -7%;
    }
    .right{
        width: 70%;
        margin-right: -6.5% !important;
        margin-top: -50%;
        text-align: justify;
    }
}
@media only screen and (max-width: 895px){

    .primary img{
        height: 37px;
        width: 80px;
        margin-left: 35% !important;
    }
    .secondary{
        margin-right: -4%;
    }
    .secondary i{
        margin-right: 8%;
        font-size: 70px !important;
        margin-top: -26% !important;
    }
    .left img{
        width: 35%;
        height: 40%;
        margin: 5% 0% 0 0%;
    }
    .right{
        width: 60%;
        margin-top: -40%;
        margin-right: 0% !important;
    }
}

/* @media only screen and (max-width: 840px){

    .left img{
        width: 50%;
        height: 50%;
        margin: 5% 0% 0 25%;
    }
    .right{
        width: 100%;
        margin-top: 3%;
        margin-right: 1% !important;
    }
} */

@media only screen and (max-width: 840px){
    .primary{
        margin-left: -3%;
    }
    .secondary{
        margin-right: 1%;
    }
    
    .name{
        margin-top: 17%;
    }
    .name h1{
        font-size: 30px;
        margin-bottom: 3%;
    }
    .name h1, p{
        margin-left: 5%;
        
    }
    .secondary i{
        margin-right: 3.5%;
        font-size: 70px !important;
        margin-top: -25% !important;
    }

    /* about page */
    .left img{
        width: 50%;
        height: 50%;
        margin: -1% 0% 0 25%;
    }
    .right{
        width: 100%;
        margin-top: 3%;
        margin-right: 2% !important;
    }
}
@media only screen and (max-width: 840px){
    
}
